<?xml version="1.0"?>
<!--
/**
 * @category   Emartech
 * @package    Emartech_EmarsysRecommender
 * @copyright  Copyright (c) 2018 Emarsys. (http://www.emarsys.net/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Emartech_EmarsysRecommender" setup_version="0.0.1" schema_version="0.0.1">
        <sequence>
            <module name="Emartech_Emarsys"/>
        </sequence>
    </module>
</config>
